spring:
  mongodb:
    uri: mongodb://localhost:27017/fitnessRecommendation
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest



eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8085

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking

Gemini:
  api:
    url: ${GEMINI_API_URL}
    key: ${GEMINI_API_KEY}
